<header class="bg-blue-50 shadow-sm fixed w-full top-0 z-50">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center py-6">
      <!-- Logo -->
      <div class="flex items-center">
        <div class="w-10 h-10 bg-medical-blue rounded-lg flex items-center justify-center mr-3">
          <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 2L13 6h4l-3 7-4-2-4 2-3-7h4l3-4z" />
          </svg>
        </div>
        <h1 class="text-2xl font-bold text-dark-blue">MediCare</h1>
      </div>

      <!-- Desktop Navigation -->
      <div class="hidden md:flex items-center space-x-8">
        <div class="flex space-x-8">
          <a href="#Accueil" class="text-gray-600 hover:text-medical-blue transition-colors font-medium">Accueil</a>
        </div>
        <!-- Séparation visuelle -->
        <div class="w-px h-6 bg-gray-300"></div>
        <a routerLink="login" class="text-gray-600 hover:text-medical-blue transition-colors font-medium">
          Connexion
        </a>
      </div>

      <!-- Mobile menu button -->
      <button (click)="toggleOpen()" id="mobile-menu-button" class="md:hidden text-gray-600 hover:text-medical-blue transition-colors">
        @if(!isOpen){
            <svg  id="menu-open" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        }@else{
            <svg  id="menu-close" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        }
        </button>
        
    </div>

    <!-- Mobile Navigation Menu -->
    <div
      id="mobile-menu"
      class="md:hidden absolute top-full left-0 right-0 bg-white shadow-lg border-t border-gray-200 z-50"
      [class.hidden]="!isOpen"
    >
      <div class="px-4 py-6 space-y-4">
        <a href="#Accueil" class="text-gray-600 hover:text-medical-blue transition-colors font-medium">Accueil</a>
        <hr class="border-gray-200 my-4" />

        <a routerLink="login" class="text-gray-600 hover:text-medical-blue transition-colors font-medium">
          Connexion
        </a>
      </div>
    </div>
  </nav>
</header>
